/*
Debug Ghost CSS Elements Causing Unwanted Scrolling
http://wernull.com/2013/04/debug-ghost-css-elements-causing-unwanted-scrolling/
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
*/
body {
  min-height: 75rem;
  padding-top: 4.5rem;
  background: $white;
}
