<!--</div> .container-->

<!--
  <footer class="site-footer">
        <div class="container">
            <div class="row">
                  <div class="footer-navigation col-12 col-md-4 mt-4 mt-sm-0">
                      <nav class="menu">
                          <a href="#visit">Visit</a>
                          <a href="#gallery">Gallery</a>
                          <a href="#services">Services</a>
                          <a href="#contact">Contact</a>
                      </nav>
                  </div>

                  <div class="about col-12 col-md-8 mt-4 mt-sm-0">
                      <h2>About Us</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>
            </div>
        </div>
  </footer>
-->



<footer class="bg-dark text-white py-4">
      <div class="container">
                <div class="col text-center pb-4">
                 <h2>Contact</h2>
                 <p>Need help? Speak to our helpful, knowledgable staff Monday to Friday, 8:30 a.m. to 4:30 p.m.</p>
              </div>

        <div class="row align-items-top text-center text-md-center">
              <div class="col-12 col-md-4 mt-4 mt-sm-0">
              <a href="http://www.rto-ero.org">
                <img src="img/rto-logo.png" alt="RTO/ERO Official Logo Image">
              </a>
            </div>
            <div class="col-12 col-md-4 mt-4 mt-sm-0">
                <h3>Membership Team</h3>
                <p><a class="gold-link" href="mailto:membership@rto-ero.org">membership@rto-ero.org</a></p>
                <p><a class="gold-link" href="tel:1-800-361-9888">1-800-361-9888</a></p>

                <h3>Insurance Team</h3>
                <p><a class="gold-link" href="mailto:insurance@rto-ero.org">insurance@rto-ero.org</a></p>
                <p><a class="gold-link" href="tel:1-877-406-9007">1-877-406-9007</a></p>
            </div>
            <div class="col-12 col-md-4 mt-4 mt-sm-0">
                <h3>RTO/ERO</h3>
                   <p>
                    <strong>Address:</strong> 18 Spadina Rd, Toronto, Ontario M5R 2S7<br>
                    <strong>Phone:</strong> 416-962-9463<br>
                    <strong>Toll Free:</strong> 1-800-361-9888<br>
                    <strong>Fax:</strong> 416-962-1061<br>
                    <strong>Email:</strong> info@rto-ero.org
                  </p>
              </div>

            </div><!-- ends row -->

         <div class="row align-items-top text-center text-md-left">
            <div class="col-12 col-md-0 mt-4 my-md-2 text-md-center">
            <p class="social-media-footer">
              <a href="https://www.facebook.com/rto.ero/"><i class="fab fa-facebook-f fa-2x"></i></a>&nbsp;
              <a href="https://www.youtube.com/channel/UC47hMHrlTrEyXgr2PGoqwSw"><i class="fab fa-youtube fa-2x"></i></a>&nbsp;
              <a href="https://twitter.com/rto_ero"><i class="fab fa-twitter fa-2x"></i></a>
            </p>
            </div>
        </div>
    </div><!-- container ends -->

  </footer>


              <!--Copyright-->
          <div class="footer-copyright text-center">
            <div class="container">
              &copy; 2018 Copyright
              <a href="/"> RTO/ERO </a>
            </div>
         </div>
          <!--/.Copyright-->

    </body>
    <script src="js/main.js"></script>
    </html>
