
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Retired Teachers of Ontario: Community & Insurance | RTO-ERO</title>
    <link rel="stylesheet" href="css/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Canada&#039;s largest insurance provider for retired teachers. Individual and family health programs, excellent services and social activities. Join our community!" />
    <link rel="canonical" href="https://www.rto-ero.org/" />
    <link rel="shortlink" href="https://www.rto-ero.org/" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  </head>
  <body>


<header id="home" class="header">
  <nav class="navbar navbar-expand-md no-gutters navbar-dark fixed-top bg-banner">
    <a class="navbar-brand" href="/"><div class="site-logo"><b class="srt">Retired Teacher's of Ontario Logo</b></div></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">French</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Membership</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FAQs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav col-2 justify-content-end d-none d-md-flex float-md-right">
        <li class="nav-item">
          <a class="nav-link" href="https://www.froala.com"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.froala.com"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.froala.com"><i class="fab fa-youtube"></i></a>
        </li>
      </ul>
    </div>
  </nav>


  <section class="banner">
      <div class="container">
         <div class="row">
             <div class="col-12 col-md-8 text-white mx-auto py-4 order-2 order-md-1 d-flex align-content-center flex-wrap animated slideInLeft">
                  <h1 class="pb-2">Retiring in the next 5-15 years?</h1>
                  <p>Retirement is the best! Planning for it, not so much. Luckily, we have retirement planning experts who can help. Learn about retirement income, lifestyle options and insurance coverage at an RTO/ERO Retirement Planning Workshop - held across Ontario.</p>

                      <div class="btn-group">
                          <a  class="btn-orange mr-4" role="button" href="files/31_benefits_profes_speaking.pdf" target="_blank">
                                  Benefits of Joining<br>
                                  RTO/ERO
                            </a><br>
                            <a  class="btn-orange" role="button" href="https://www.rto-ero.org/join-us/retirement-planning-workshops/rpw-schedule-list" target="_blank">
                                 SIGN UP for a Retirement<br>
                                 Planning Workshop
                            </a>
                    </div>

              </div>
             <div class="col-12 col-md-4 text-white mx-auto pt-4 order-1 order-md-2 form-container animated slideInRight">
                   <h5 class="pb-2">Download our FREE Retirement Planning ebook / Téléchargez notre livrel de planification de la retraite GRATUIT</h5>
                   <form id="EBookRegistrationForm" name="EbookRegistrationForm" action="" method="post" target="_blank">


                    <div class="form-row">
                      <div class="col">
                        <label for="CDFirstName">First name – Prénom*</label>
                        <input type="text" class="form-control" id="CDFirstName" name="CD.First.Name" aria-required="true" required autofocus>
                      </div>
                      <div class="col">
                        <label for="CDLastName">Last name – Nom*</label>
                        <input type="text" class="form-control" id="CDLastName" name="CD.Last.Name" aria-required="true" required>
                      </div>
                    </div>

                    <div class="form-group pt-2">
                      <label for="email">Email – Courriel*<span class="email-text"></span></label>
                      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="CD.Email" aria-required="true" required>
                      <small id="emailHelp" class="form-text text-primary">We'll never share your email with anyone else.</small>
                    </div>

                    <div class="form-group">
                      <label for="confemail">Email – Courriel*<span class="email-text"> (Please re-enter your Email Address)</span></label>
                      <input type="email" class="form-control" id="confemail" onblur="confirmEmail()" aria-describedby="emailHelp2" aria-required="false">
                        <div class="form-row" id="hiddenEmailDiv" style="display:none;">
                          <small id="emailHelp2" class="form-text text-danger">Email address does not match. Please re-enter the same email address.</small>
                        </div>
                    </div>

                    <fieldset class="form__actions">
                     <div class="form-group py-4">
                     <button type="submit" class="btn btn-primary btn-lg btn-block" value="Register">Download</button>
                   </div>
                   </fieldset>

                   </form>
              </div>

        </div><!-- ends row -->
     </div><!-- ends container -->
  </section>



</header>
